@tailwind base;
@tailwind components;
@tailwind utilities;

/*I couldn't really get the tailwind to work when I used it some of the insertAdjacentHTML, it works only for 
changing text size and not with anything with vw values or the HTML for the inserted images, which I used a
template literal for*/

:root {
    --primary: #203029;
    --secondary: #3C493F;
    --tertiary: #99D5C9;
    --quaternary: #F1D302;
}

.card {
    border: 1vw solid var(--secondary);
    border-radius: 3vw;
    background-color: var(--tertiary);
    box-sizing: border-box;
    margin: 1vw 0;
}

.image {
    width: 95%;
    height: auto;
    box-sizing: border-box;
    margin: 1vw;
    border: 1vw solid var(--quaternary);
    border-radius: 1.5vw;
}


.selectButton {
    background-color: var(--quaternary);
    border-radius: 0.5vw;
    margin: 1vw;
    padding: 0.5vw;
    font-size: 1rem;
}